var environmentConfigs = {
  development: {
    logger_level: 'silly',
    db_path: 'mongodb://localhost/yolowatch',
    socket_port: 9003,
    api: {
      consumer_secret: 'CONSUMER_SECRET_HERE',
      access_token_secret: 'ACCESS_TOKEN_SECRET_HERE'
    }
  },
  production: {
    logger_level: 'info',
    db_path: 'mongodb://localhost/yolowatch',
    socket_port: 9003,
    api: {
      consumer_secret: 'CONSUMER_SECRET_HERE',
      access_token_secret: 'ACCESS_TOKEN_SECRET_HERE'
    }
  }
};

var activeConfig = environmentConfigs.development;
if (process.env.NODE_ENV in environmentConfigs) {
  activeConfig = environmentConfigs[process.env.NODE_ENV];
}

module.exports = activeConfig;
